@import url('https://fonts.googleapis.com/css2?family=Poppin:wght@700&display=swap');
  

  body{
      margin: 0;
      font-family:'Poppins' ;
      background-color:#d2d5e3cc;
  }
  .container{
      align-items: center;
      margin-top: 5px;
      margin-inline: 10%;
      max-width: 400px;
  }
  .img-container{
      margin: auto;
  }
  header .container{
      background-color:#d2d5e3cc;;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: center;
      margin: 5px;
      font-family: "Bookman Old Style";
      font-size: 150%;
      box-shadow: 2px 2px 10px black;
      width: 300px;
      height: 40px;
  }
  
  #hero{
      margin: 5px;
      width: 100vh;
      height: 110vh;
      background-image: url(foto.jpg);
      background-image: cover;
      background-repeat: no-repeat;
      background-position: center;

  }
  #hero .container{  
      display: flex;
      width: 450px;
  }
  
  #hero .texto{
      color: rgb(255, 255, 255);
      font-weight: bold;
  }
  
  p{  font-size: 1.5em;
      box-shadow: 2px 2px 10px black;
      background-color: rgba(0, 0, 255, 0.128);
  }
  
  h1{ 
      position: relative;
      font-size: 25px;
      color: #d2d5e3cc;   
      -webkit-text-stroke: 0.1vw #d2d5e3cc;
  
  }
  h1::before
  {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      color: #000000;
      -webkit-text-stroke: 0vw #383d52;
      overflow: hidden;
      animation: animate 5s linear infinite;
  }
  
  @keyframes animate
   {
      0%,10%,100%
      {
          width: 0%;
      }
      70%,90%
      {
          width: 100%;
      }
      
  }